# Visual Studio
*.user
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.VC.db
*.VC.VC.opendb
.vs/
Debug/
Release/
x64/
x86/
[Bb]in/
[Oo]bj/
ipch/
*.cachefile

# Xcode
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdatad
*.xcuserstate
xcuserdata/
DerivedData/

# Blender backup
*.blend1
*.blend2

# System
.DS_Store
Thumbs.db
*~
